{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
About
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        here is the about page.
        <br />
        This tutorial has been put together by <strong>{{ username }}</strong>
        <br />
    </div>
    <div>
        <a href="/">Index</a>
    </div>
    <p>Visits: {{ visits }}</p>
    <br />
    <div>
        <img src="{% static 'images/rango.jpg' %}" width="25%" height="25%" alt="Picture of Rango" />
    </div>
    <div>
        <img src="{{ MEDIA_URL }}meong-cat.gif" width="25%" height="25%" alt="Picture of a Cat" />
    </div>
    <div>
        <video width="640" height="360" controls>
            <source src="{{ MEDIA_URL }}2021-10-23_21-15-04-vkb-demo.mp4"
                    type="video/mp4">
        </video>
    </div>
{% endblock %}